@font-face {
    font-family:Caveat ;
    src: url(fonts/Caveat-Medium.ttf);
}
@font-face {
    font-family:Cookie;
    src: url(fonts/Cookie-Regular.ttf);
}
@font-face {
    font-family: Courgette;
    src: url(fonts/Courgette-Regular.ttf);
}
@font-face {
    font-family: dancingscript;
    src: url(fonts/DancingScript-Medium.ttf);
}
@font-face {
    font-family:MateSC ;
    src: url(fonts/MateSC-Regular.ttf);
}
@font-face {
    font-family:odibeesans ;
    src: url(fonts/OdibeeSans-Regular.ttf);
}
@font-face {
    font-family: satisfy;
    src: url(fonts/Satisfy-Regular.ttf);
}